@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

:root {
  --primary-color: black;
  --secondary-color: #f8f8f8;
  --special-color: #0eeb0c;
  --opaque-shadow: rgba(0, 0, 0, 0.5);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: 'Inter', Helvetica, sans-serif;
  font-weight: 500;
  color: var(--secondary-color);
  background: linear-gradient(white, #a5e997);
}

#calculator-form {
  min-height: 100vh;
}

/* SHARED STYLES */

#calculator-form,
#btn-container,
#display,
.row {
  display: flex;
}

#calculator-form,
#display {
  justify-content: center;
  align-items: center;
}

/* CALCULATOR */

#calculator {
  box-shadow: 0px 5px 10px var(--opaque-shadow);
  background: var(--primary-color);
  padding: 20px;
  border-radius: 25px;
}

/* DISPLAY */

#display {
  font-size: 28px;
  height: 148px;
}

/* BUTTONS */

#btn-container {
  flex-direction: column;
  gap: 12px;
}

.row {
  gap: 12px;
}

button {
  cursor: pointer;
  font-size: 24px;
  font-family: inherit;
  font-weight: inherit;
  box-shadow: inset 0px 0px 6px var(--opaque-shadow);
  background-color: var(--secondary-color);
  width: 76px;
  height: 76px;
  border: none;
  border-radius: 10px;
  transition: 0.1s;
}

button.operator,
button#equals {
  background: var(--special-color);
}

button:hover {
  transform: scale(1.025);
  filter: brightness(95%);
}

.flex-grow {
  flex: 1;
}
