@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

:root {
  --primary-color: black;
  --secondary-color: #f8f8f8;
  --special-color: #0eeb0c;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: 'Inter', Helvetica, sans-serif;
  font-weight: 500;
  color: var(--secondary-color);
}

body {
  min-height: 100vh;
}

/* SHARED STYLES */

body,
#btn-container,
#display-container,
.row {
  display: flex;
}

body,
#display-container {
  justify-content: center;
  align-items: center;
}

/* CALCULATOR */

#calculator {
  background: var(--primary-color);
  padding: 16px;
  border-radius: 25px;
}

/* RESULT */

#display-container {
  height: 128px;
}

#display {
  font-size: 28px;
}

/* BUTTONS */

#btn-container {
  flex-direction: column;
  gap: 12px;
}

.row {
  gap: 12px;
}

button {
  font-size: 24px;
  font-family: inherit;
  font-weight: inherit;
  background-color: var(--secondary-color);
  width: 70px;
  height: 70px;
  border: none;
  border-radius: 10px;
}

button.operator,
button#equals {
  background: var(--special-color);
}

.flex-grow {
  flex: 1;
}
